<div class="col-xs-11 board">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create A Story</h4>
          </div>
          <div class="modal-body">
              <form>
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" placeholder="Description" ng-required="true" ng-model="board.description">
                <label for="projects">Project Name</label>
                <select class="form-control" aria-haspopup="true" aria-expanded="false" id="projects" ng-model="board.projects.selected">
                    <option value="{{project.item_code}}" class="dropdown-item" ng-repeat="project in board.projects" ng-required="true">{{project.item_name}}</option>
                </select>
                <label for="Username">Username</label>
                <select class="form-control" aria-haspopup="true" aria-expanded="false" id="usernames" ng-model="board.usernames.selected">
                    <option class="dropdown-item" ng-repeat="username in board.usernames" ng-required="true">{{username.username}}</option>
                </select>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="board.createStory()">Create Story</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <span ng-show="!board.isStoryView||board.isProjectStories" class="btn btn-default btn-md fa fa-home" data-placement="top" data-toggle="tooltip" title="Back To All Stories View" ng-click="board.getStoryData()"></span>
    <span ng-show="board.isStoryView&&board.isProjectStories" class="btn btn-default btn-md fa fa-step-backward" data-placement="top" data-toggle="tooltip" title="Back To Projects View" ng-click="board.getBoardData()"></span>
    <span ng-show="board.isStoryView&&!board.isProjectStories" class="btn btn-default btn-md fa fa-step-forward" data-placement="top" data-toggle="tooltip" title="See Projects View" ng-click="board.getBoardData()"></span>
    <span class="btn btn-default btn-small fa fa-save" ng-click="board.putData()" data-placement="top" data-toggle="tooltip" title="Save Changes"></span>
    <span ng-show="board.isStoryView" class="btn btn-default btn-small fa fa-plus" data-placement="top" data-toggle="modal" data-target="#myModal" title="Create A Story"></span>
   <div class="statuses" class="row">
        <column ng-repeat="column in board.columns" name="column.name" items="column.items"></column>
    </div>
</div>