<html>
<head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="node_modules/toastr/toastr.scss" rel="stylesheet" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
        <link href="dragular.css" rel="stylesheet" />
        <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
        <script src="node_modules/lodash/lodash.js" type="text/javascript"></script>
        <script src="node_modules/toastr/toastr.js" type="text/javascript"></script>
        <script src="dragular.js" type="text/javascript"></script>
        <link href="style.css" rel="stylesheet" />
        <script src="app.js" type="text/javascript"></script>
        <script src="controller.js" type="text/javascript"></script>
        <script src="scrumBoardService.js" type="text/javascript"></script>
        <script src="loginService.js" type="text/javascript"></script>
        <script src="board.js" type="text/javascript"></script>
        <script src="column.js" type="text/javascript"></script>
        <script src="item.js" type="text/javascript"></script>
        <script src="login.js" type="text/javascript"></script>
    </head>
    <body ng-app="scrum">
        <content ng-controller="ContentController as content">
            <div id="container" class="form-group row">
                <div id="mainContent" class="col-xs-12">
                    <div id="header" class="row">
                        <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Scrum Board</a>
                        </div>
                        </nav>
                    </div>
                    <div id="board" class="row">
                        <div id="navbar" class="col-xs-1"></div>
                        <login ng-show="!content.isLoggedIn"></login>
                        <board ng-if="content.isLoggedIn"></board>
                    </div>
                </div>
            </div>
        </content>
    </body>
    </html>