 <form class="form-horizontal" role="form">
  <div class="form-group col-xs-11">
    <label class="control-label col-sm-2" for="username">Username:</label>
    <div class="col-sm-10">
      <input type="text" ng-model="login.username" class="form-control" id="username" placeholder="Enter username">
    </div>
  </div>
  <div class="form-group col-xs-11">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-10">
      <input type="password" ng-model="login.password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
  </div>
  <div class="form-group col-xs-11">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
    </div>
  </div>
  <div class="form-group col-xs-11">
    <div class="col-sm-offset-2 col-sm-10">
      <span class="btn btn-default" ng-click="login.submitLogin()">Submit</span>
    </div>
  </div>
</form>