#container{
    background-color: gainsboro;
    padding: 5%,5%,5%,5%;s
}

#navbar {
    float: none;
}

.board{
    background-color: whitesmoke;
    min-height: : 100%;
    padding: 5%,5%,5%,5%;
    
}

.statuses{
    background-color: gray;
    min-height: 100%;
    
}

.column {
    background-color: white;
    height: 100%;
    padding-right: 0%;
    padding-left: 0%;
    border: 2px solid;
    border-color: gainsboro;
}

.column-header{
    width: 100%;
    text-align: center;
    font-size: 1em;
    background-color: silver;
}

.item{
    border-left: 4px solid;
    border-left-color: crimson;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}
